<div class="navbar-container">
    <div class="logo">
        <img src="/logo.png" alt="Ruben Ferreira logo">
    </div>

    <div class="menu-items-container">
        <a class="menu-item" routerLink="/">Home</a>
        <a class="menu-item" routerLink="/about">About</a>
        <a class="menu-item" routerLink="/research">Research</a>
        <a class="menu-item" routerLink="/writings">Writings</a>
        <a class="menu-item" routerLink="/projects">Projects</a>
        <a class="menu-item" routerLink="/contact">Contact</a>
    </div>
</div>